# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=rails_sandbox_development

# Rails DB 接続
DEV_DATABASE_URL=postgresql://postgres:your_password_here@db:5432/rails_sandbox_development
TEST_DATABASE_URL=postgresql://postgres:your_password_here@db:5432/rails_sandbox_test
